.animated-profile {
    /* animation: fadeInAnimation 1.5s ease forwards; */
    position: relative;
        left: 0;
        transition: left 0.5s ease;
}

.animated-profile.left{
    left: -150px;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}